{% load tagging_tags comments i18n %}
<div id="gbobject-{{ object.pk }}" class="hgbobject{% if object.featured %} featured{% endif %} span-16 last">
  <div class="gbobject-header span-16 last">
    <h2 class="gbobject-title">
      <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
        {{ object.title }}
      </a>
    </h2>
    <p class="gbobject-info">
      {% if object.authors.count %}
      {% trans "Written by" %}
      {% for author in object.authors.all %}
      <span class="vcard author">
        <a href="{% url objectapp_author_detail author %}" class="fn nickname url" rel="author"
           title="{% blocktrans with author as author %}Show {{ author }} gbobjects{% endblocktrans %}">{{ author }}</a>
      </span>{% if not forloop.last %}, {% endif %}
      {% endfor %}
      {% trans "on" %}
      {% else %}
      {% trans "Written on" %}
      {% endif %}
      <abbr class="published" title="{{ object.creation_date|date:"c" }}Z">{{ object.creation_date|date:"DATE_FORMAT" }}</abbr>
      {% if object.objecttypes.count %}
      {% trans "in" %}
      {% for Objecttype in object.objecttypes.all %}
      <a href="{{ Objecttype.get_absolute_url }}" title="{{ Objecttype }}" rel="tag Objecttype">{{ Objecttype }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}.
    </p>

</div>
</div>
